@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

img {
  display: block;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  font-family: Montserrat;
}

.body {
  color: #111518;
}

.container {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1360px) {
  .container {
    max-width: 1360px;
  }
}

.orange {
  color: #ff6b09;
}

::-webkit-input-placeholder {
  color: #ffffff;
}

:-moz-placeholder {
  color: #ffffff;
}

::-moz-placeholder {
  color: #ffffff;
}

:-ms-input-placeholder {
  color: #ffffff;
}

.logo {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .logo {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .logo--black,
.logo--white {
    display: none;
  }
}

.fire__icon {
  margin: 0 4px;
}

.logo__first {
  display: flex;
  font-weight: 800;
  font-size: 26px;
  line-height: 1.23;
  letter-spacing: 0.04em;
  color: #111518;
}

.logo__second {
  font-weight: 700;
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #111518;
}

.logo__hell {
  color: #ff6b09;
}

.logo__first--white,
.logo__second--white,
.logo__hell--white {
  color: #ffffff;
}

.burger__open,
.burger__close {
  border: none;
  background: none;
}

.button {
  max-width: 260px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  padding: 14px 8px;
}

.button__consult,
.button__desktop {
  background: none;
  color: #ff6b09;
  border: 2px solid #ff6b09;
}

.button--orange {
  background-color: #ff6b09;
  color: #ffffff;
  border: none;
}
@media screen and (min-width: 1360px) {
  .button--orange {
    max-width: 356px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.14em;
    padding: 26px;
  }
}

.section__header {
  background-color: #ffffff;
  position: relative;
}

.header {
  display: flex;
  padding: 30px 20px 50px 20px;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 41px 20px 70px 20px;
  }
}
@media screen and (min-width: 1360px) {
  .header {
    padding: 34px 23px 46px 23px;
    align-items: center;
  }
}

.burger__open {
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .burger__open {
    margin-left: 0;
  }
}
@media screen and (min-width: 1360px) {
  .burger__open {
    display: none;
  }
}

.mobile-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px 0 222px 0;
  background-color: rgba(17, 21, 24, 0.9);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    padding: 41px 0 70px 0;
  }
}
@media screen and (min-width: 1360px) {
  .mobile-menu {
    display: flex;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    padding: 0;
    background-color: transparent;
  }
}

.mobile-menu__container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 480px;
}
@media screen and (max-width: 1359px) {
  .mobile-menu__container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1359px) {
  .mobile-menu__container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1360px) {
  .mobile-menu__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin-left: 144px;
    max-width: 100%;
  }
}

.mobile-menu.is-open {
  display: flex;
}

.mobile-menu__header {
  display: flex;
}
@media screen and (min-width: 1360px) {
  .mobile-menu__header {
    display: none;
  }
}

.burger__close {
  margin-left: auto;
}

.site-nav {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 72px;
  }
}
@media screen and (min-width: 1360px) {
  .site-nav {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.site-nav__link {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.site-nav__link:focus {
  color: #ff6b09;
}
.site-nav__link:hover {
  color: #ff6b09;
}
@media screen and (min-width: 1360px) {
  .site-nav__link {
    color: #b9b9b9;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    text-transform: uppercase;
    margin-right: 40px;
  }
  .site-nav__link:hover {
    color: #ff6b09;
  }
  .site-nav__link:focus {
    color: #ff6b09;
  }
}

@media screen and (min-width: 1360px) {
  .site-nav__list {
    display: flex;
  }
}

.button__consult {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) and (max-width: 1359px) {
  .button__consult {
    display: none;
  }
}
@media screen and (min-width: 1360px) {
  .button__consult {
    margin-left: 20px;
    padding: 27px 24px;
    max-width: 336px;
  }
}

.button__desktop {
  margin-left: auto;
  margin-right: 40px;
}
@media screen and (max-width: 767px) {
  .button__desktop {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1359px) {
  .button__desktop {
    display: block;
  }
}
@media screen and (min-width: 1360px) {
  .button__desktop {
    display: none;
  }
}

.section__hero {
  background-color: #fcfcfc;
  background-image: url(../../images/hero-bg-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom -20px;
}
@media screen and (min-width: 768px) and (max-width: 1359px) {
  .section__hero {
    background-image: url(../../images/hero-bg-tablet.png);
    background-position: center bottom -25px;
  }
}
@media screen and (min-width: 1360px) {
  .section__hero {
    background-image: url(../../images/hero-bg-desctop.png);
    background-position: center bottom 50px;
  }
}

.hero {
  padding: 0 20px 47px 20px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 1359px) {
  .hero {
    max-width: 768px;
    padding: 0 20px 64px 20px;
    flex-direction: row;
  }
}
@media screen and (min-width: 1360px) {
  .hero {
    flex-direction: row;
    padding: 0 20px 215px 20px;
  }
}

.container__hero-desktop {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1360px) {
  .container__hero-desktop {
    margin-top: 80px;
    min-width: 642px;
  }
}

.hero__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: #111518;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1360px) {
  .hero__title {
    font-size: 58px;
    line-height: 1.3;
  }
}

.hero__text {
  color: #111518;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.08em;
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 20px;
    line-height: 1.65;
  }
}

.hero__text--grey {
  color: #b9b9b9;
}

.button--orange {
  margin-left: auto;
  margin-right: auto;
}

.hero__image {
  max-width: 208px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1359px) {
  .hero__image {
    max-width: 375px;
    margin-top: 13px;
  }
}
@media screen and (min-width: 1360px) {
  .hero__image {
    max-width: 842px;
    position: relative;
    left: -30px;
  }
}

.hero__registration-link {
  margin-left: auto;
  margin-right: auto;
  padding: 14px 8px;
  max-width: 260px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  background-color: #ff6b09;
  color: #ffffff;
  border: none;
}
@media screen and (min-width: 1360px) {
  .hero__registration-link {
    margin-left: 0;
    margin-right: 0;
    padding: 26px;
    max-width: 355px;
    text-align: center;
    font-size: 12px;
  }
}

.section__features {
  background-color: #fcfcfc;
}

.features {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 20px 50px 20px;
}
@media screen and (min-width: 768px) and (max-width: 1359px) {
  .features {
    padding: 50px 20px 50px 20px;
    width: auto;
  }
}
@media screen and (min-width: 1360px) {
  .features {
    padding: 50px 23px 130px 23px;
    width: auto;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
  }
}

.features__item {
  display: flex;
  align-items: center;
}
.features__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 21px;
  }
}

.features__icon {
  width: 59px;
  height: 60px;
}
@media screen and (min-width: 1360px) {
  .features__icon {
    width: 100px;
    height: 102px;
  }
}

.features__text {
  margin-left: 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 1360px) {
  .features__text {
    font-size: 20px;
    line-height: 1.65;
    margin-left: -11px;
  }
}

.section__problems {
  background-image: linear-gradient(to bottom, #111518 62%, #fcfcfc 38%);
}

.problems {
  padding: 50px 20px;
}
@media screen and (min-width: 768px) {
  .problems {
    padding: 60px 20px 50px 20px;
  }
}
@media screen and (min-width: 1360px) {
  .problems {
    padding: 100px 23px 130px 23px;
  }
}

.problems__card {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  padding: 20px 30px 20px 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.08em;
  color: #111518;
}
@media screen and (min-width: 768px) {
  .problems__card {
    max-width: 768px;
    padding: 30px 96px 26px 96px;
  }
}
@media screen and (min-width: 1360px) {
  .problems__card {
    font-size: 20px;
    line-height: 1.2;
    max-width: 1314px;
    padding: 70px 112px 62px 114px;
  }
}

.problems__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 27px;
}
@media screen and (min-width: 768px) {
  .problems__title {
    max-width: 65%;
    font-size: 26px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1360px) {
  .problems__title {
    max-width: 65%;
    font-size: 46px;
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 768px) {
  .problems__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -8px;
    margin-left: -22px;
    padding: 0;
  }
}
@media screen and (min-width: 1360px) {
  .problems__list {
    margin-top: -32px;
    margin-left: -40px;
  }
}

.problems__item:not(:last-child) {
  margin-bottom: 10px;
}

.problems__item {
  position: relative;
  counter-increment: steps;
  display: flex;
  flex-direction: column;
}
.problems__item::before {
  content: "— " "0" counter(steps);
  color: #ff6b09;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 768px) and (max-width: 1359px) {
  .problems__item {
    margin-top: 8px;
    margin-left: 22px;
    flex-basis: calc(50% - 30px);
  }
}
@media screen and (min-width: 1360px) {
  .problems__item {
    margin-top: 32px;
    margin-left: 40px;
    flex-basis: calc(33% - 40px);
  }
}

.problems__item::before {
  margin-bottom: 5px;
}
@media screen and (min-width: 1360px) {
  .problems__item::before {
    margin-bottom: 10px;
  }
}

.section__methods {
  background-color: #fcfcfc;
}

.methods {
  padding: 0 20px 20px 20px;
}
@media screen and (min-width: 768px) {
  .methods {
    padding: 0 20px 50px 20px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1360px) {
  .methods {
    padding: 0 23px 130px 23px;
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
  }
}

.methods__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .methods__title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1360px) {
  .methods__title {
    margin-bottom: 50px;
    font-size: 46px;
    text-align: left;
  }
}

.methods__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .methods__list {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: -27px;
    margin-left: -20px;
  }
}
@media screen and (min-width: 1360px) {
  .methods__list {
    margin-bottom: -20px;
  }
}

.methods__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  height: 290px;
  max-width: 340px;
  padding: 30px 15px 10px 15px;
}
@media screen and (min-width: 768px) {
  .methods__item {
    margin-bottom: 27px;
    margin-left: 20px;
    height: 334px;
    max-width: none;
    flex-basis: calc(50% - 20px);
    padding: 40px 22px 5px 22px;
  }
}
@media screen and (max-width: 767px) {
  .methods__item:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1360px) {
  .methods__item {
    margin-bottom: 20px;
    height: 396px;
    min-width: 424px;
    flex-basis: calc(33% - 20px);
    padding: 40px 22px 5px 22px;
  }
}

.methods__item:hover,
.methods__item:focus {
  background: #ff6b09;
}
.methods__item:hover .methods__text,
.methods__item:focus .methods__text {
  color: white;
}
.methods__item:hover .methods__article,
.methods__item:focus .methods__article {
  color: white;
}
.methods__item:hover .methods__icon,
.methods__item:focus .methods__icon {
  fill: white;
}
.methods__item:hover .methods__article::after,
.methods__item:focus .methods__article::after {
  color: white;
}

.methods__icon {
  max-width: 55px;
  height: 48px;
  fill: #ff6b09;
}

.methods__article {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.08em;
  color: #111518;
  margin-top: 20px;
  margin-bottom: 42px;
}
.methods__article::after {
  content: "— ";
  position: absolute;
  left: 46%;
  top: 120%;
  color: #ff6b09;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 1360px) {
  .methods__article::after {
    top: 110%;
  }
}
@media screen and (min-width: 1360px) {
  .methods__article {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 32px;
  }
}

.methods__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;
  color: #b9b9b9;
}
@media screen and (min-width: 1360px) {
  .methods__text {
    font-size: 18px;
    line-height: 1.56;
  }
}

.section__programm {
  background-color: #111518;
  position: relative;
}

.programm__line {
  border-bottom: 1px solid white;
  position: absolute;
  width: 100%;
  top: 277px;
}
@media screen and (max-width: 1359px) {
  .programm__line {
    display: none;
  }
}

.programm {
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  text-align: center;
  position: relative;
}
@media screen and (min-width: 768px) {
  .programm {
    padding: 60px 20px 189px 20px;
  }
}
@media screen and (min-width: 1360px) {
  .programm {
    padding: 120px 23px 25px 23px;
  }
}

.programm__title {
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .programm__title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1360px) {
  .programm__title {
    font-size: 46px;
    margin-bottom: 160px;
    text-align: left;
  }
}

.programm__list {
  text-align: left;
  padding-left: 105px;
  margin-left: auto;
  margin-right: auto;
}
.programm__list::after {
  content: " ";
  background-size: contain;
  display: block;
  position: absolute;
  right: 0;
  width: 120px;
  height: 137px;
  background-image: url(../../images/programm.png);
  bottom: -4%;
}
@media screen and (min-width: 768px) {
  .programm__list::after {
    width: 384px;
    height: 280px;
    background-image: url(../../images/programm-tablet.png);
    bottom: 5%;
  }
}
@media screen and (min-width: 1360px) {
  .programm__list::after {
    top: 65%;
    left: -4%;
    width: 672px;
    height: 502px;
    background-image: url(../../images/programm-desktop.png);
  }
}

@media screen and (min-width: 768px) and (max-width: 1359px) {
  .programm__list {
    padding-left: 0;
    margin-left: 60px;
  }
}
@media screen and (min-width: 1360px) {
  .programm__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.programm__semestr {
  padding-left: 29px;
}
.programm__semestr:not(:last-child) {
  border-left: 1px solid #ffffff;
  padding-bottom: 40px;
}
@media screen and (min-width: 1360px) {
  .programm__semestr:not(:last-child) {
    margin-right: 30px;
    border-left: none;
  }
}
@media screen and (min-width: 1360px) {
  .programm__semestr {
    padding: 0;
    margin: 0;
  }
}

.programm__semestr-number {
  position: relative;
  top: -8px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
}
.programm__semestr-number::before {
  content: " ";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ff6b09;
  transform: translateX(-35px);
  margin-right: -12px;
}
@media screen and (min-width: 1360px) {
  .programm__semestr-number::before {
    width: 17px;
    height: 16px;
    transform: translateX(0);
    transform: translateY(-63px);
  }
}
@media screen and (min-width: 1360px) {
  .programm__semestr-number {
    font-size: 20px;
    line-height: 0.93;
    margin-bottom: 25px;
  }
}

.programm__theme-name {
  margin-top: 8px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.64;
  letter-spacing: 0.08em;
  color: #ff6b09;
}
.programm__theme-name::before {
  content: " ";
  display: inline-block;
  width: 12px;
  height: 1px;
  background-color: #ff6b09;
  transform: translateY(-3px);
}
@media screen and (min-width: 1360px) {
  .programm__theme-name {
    font-size: 20px;
    line-height: 1.65;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .programm__theme-list {
    display: flex;
  }
}
@media screen and (min-width: 1360px) {
  .programm__theme-list {
    flex-direction: column;
  }
}

.programm__article-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;
  color: #b9b9b9;
  opacity: 0.5;
}
@media screen and (min-width: 768px) {
  .programm__article-item {
    width: 176px;
  }
}
@media screen and (min-width: 1360px) {
  .programm__article-item {
    font-size: 18px;
    line-height: 1.56;
  }
}

@media screen and (min-width: 768px) {
  .programm__theme:not(:first-child) {
    margin-left: 50px;
  }
}
@media screen and (min-width: 1360px) {
  .programm__theme:not(:first-child) {
    margin-left: 0;
  }
}

@media screen and (min-width: 1360px) {
  .programm__theme {
    margin-left: 0;
    margin-bottom: 25px;
  }
}

.section__reasons {
  background-image: linear-gradient(to bottom, #111518 55%, #fcfcfc 45%);
}
@media screen and (min-width: 1360px) {
  .section__reasons {
    background-image: linear-gradient(to bottom, #111518 38%, #fcfcfc 38%);
  }
}

.reasons {
  padding: 0 20px 39px 20px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .reasons {
    padding: 0 20px 50px 20px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1360px) {
  .reasons {
    padding: 0 23px 130px 23px;
    max-width: 1360px;
  }
}

.reasons__title {
  display: block;
  max-width: 50%;
  margin: 0 0 30px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .reasons__title {
    font-size: 26px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1360px) {
  .reasons__title {
    display: none;
  }
}

.reasons__card {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 14px 20px 30px;
  background-color: #ffffff;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.08em;
  color: #111518;
}
@media screen and (min-width: 768px) {
  .reasons__card {
    padding: 30px 118px 25px 98px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1360px) {
  .reasons__card {
    padding: 70px 82px 70px 82px;
    max-width: 1360px;
    position: relative;
  }
}

.reasons__list {
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .reasons__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-bottom: -30px;
  }
}

.reasons__item {
  position: relative;
  counter-increment: steps;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
}
@media screen and (max-width: 767px) {
  .reasons__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
.reasons__item::before {
  content: "— " "0" counter(steps);
  color: #ff6b09;
  text-align: left;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.65;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 1360px) {
  .reasons__item::before {
    font-size: 20px;
  }
}
@media screen and (min-width: 1360px) {
  .reasons__item {
    font-size: 20px;
    line-height: 1.4;
  }
}

@media screen and (min-width: 768px) {
  .reasons__item {
    flex-basis: calc(50% - 20px);
    margin-left: 20px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .reasons__item {
    flex-basis: calc(33% - 20px);
    margin-left: 20px;
    margin-bottom: 30px;
  }
}

.section__teacher {
  background-color: #fcfcfc;
}

.teacher {
  padding: 0 20px 50px 20px;
}
@media screen and (min-width: 768px) {
  .teacher {
    padding: 0 20px 50px 20px;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .teacher {
    padding: 0 23px 137px 23px;
  }
}

.teacher__title {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: #111518;
}
@media screen and (min-width: 768px) {
  .teacher__title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1360px) {
  .teacher__title {
    font-size: 46px;
  }
}

.teacher__foto {
  width: 243px;
  height: 305px;
}
@media screen and (min-width: 1360px) {
  .teacher__foto {
    width: 530px;
    height: 667px;
  }
}

.teacher__name {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 768px) {
  .teacher__name {
    margin-top: 0;
  }
}
@media screen and (min-width: 1360px) {
  .teacher__name {
    font-size: 30px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .teacher__profile {
    margin-top: 53.8px;
    margin-left: 40px;
  }
}
@media screen and (min-width: 1360px) {
  .teacher__profile {
    margin-top: 80px;
    margin-left: 30px;
    max-width: 640px;
  }
}

.teacher__features-list {
  padding-top: 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.06em;
  border-top: 1px solid #b9b9b9;
}
.teacher__features-list::after {
  content: "";
  margin-top: 20px;
  margin-bottom: 15px;
  display: inline-block;
  height: 2px;
  width: 20px;
  background-color: #ff6b09;
}
@media screen and (min-width: 1360px) {
  .teacher__features-list::after {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1360px) {
  .teacher__features-list {
    font-size: 16px;
    padding-top: 30px;
  }
}

.teacher__features-item {
  position: relative;
  padding-left: 20px;
}
.teacher__features-item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../../images/check.svg);
  display: inline-block;
  background-size: 100%;
  width: 17px;
  height: 14px;
}
.teacher__features-item:not(:last-child) {
  margin-bottom: 30px;
}

.teacher__description {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #b9b9b9;
}
@media screen and (min-width: 1360px) {
  .teacher__description {
    font-size: 18px;
    line-height: 1.56;
    margin-bottom: 20px;
  }
}

.teacher__certificate {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #ff6b09;
}
@media screen and (min-width: 1360px) {
  .teacher__certificate {
    font-size: 18px;
  }
}

.section__guaranties {
  background-image: linear-gradient(to bottom, #fcfcfc 14%, #e5e5e5 14%);
}
@media screen and (min-width: 768px) {
  .section__guaranties {
    background-image: none;
    background-color: #fcfcfc;
  }
}

.guaranties {
  padding: 0 20px 31px 20px;
}
@media screen and (min-width: 768px) {
  .guaranties {
    padding: 0 20px 50px 20px;
  }
}
@media screen and (min-width: 1360px) {
  .guaranties {
    padding: 0 23px 130px 23px;
  }
}

@media screen and (min-width: 768px) {
  .guaranties__card {
    background-color: #e5e5e5;
    padding: 30px 50px 30px 80px;
  }
}
@media screen and (min-width: 768px) {
  .guaranties__card {
    padding: 50px 112px 45px 112px;
  }
}

.guaranties__list {
  margin-left: 7px;
}

.guaranties__title {
  margin-bottom: 60px;
  text-align: center;
  font-weight: 800;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1360px) {
  .guaranties__title {
    font-size: 46px;
  }
}

.guaranties__item {
  position: relative;
  padding-left: 28px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #3d3d3d;
}
.guaranties__item:not(:last-child) {
  padding-bottom: 23px;
  border-left: 1px dashed #b9b9b9;
}
.guaranties__item::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: -7px;
  background-image: url(../../images/fire.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 14.5px;
  height: 20px;
}
@media screen and (min-width: 1360px) {
  .guaranties__item {
    font-size: 20px;
    line-height: 1.4;
  }
}

.section__reviews {
  background-color: #fcfcfc;
}

.reviews {
  padding: 50px 20px;
}
@media screen and (min-width: 768px) {
  .reviews {
    padding: 0 20px 50px 20px;
  }
}
@media screen and (min-width: 768px) {
  .reviews {
    padding: 0 23px 130px 23px;
  }
}

.reviews__title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .reviews__title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1360px) {
  .reviews__title {
    font-size: 46px;
    margin-bottom: 50px;
  }
}

.reviews__card {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 30px 20px;
  margin-bottom: 20px;
  max-width: 480px;
  background-color: #ffffff;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}
@media screen and (min-width: 768px) {
  .reviews__card {
    max-width: 768px;
    flex-direction: row;
  }
}
@media screen and (min-width: 1360px) {
  .reviews__card {
    max-width: 1090px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding: 50px 112px 50px 82px;
  }
}
.reviews__card .reviews__card--left {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .reviews__card .reviews__card--left {
    margin: 20px 46px 0 20px;
  }
}
.reviews__card .reviews__card--right {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .reviews__card .reviews__card--right {
    margin: 20px 20px 0 0;
    text-align: left;
  }
}

.reviews__foto--main {
  margin-left: auto;
  margin-right: auto;
  width: 90px;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .reviews__foto--main {
    width: 150px;
  }
}

.reviews__name {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  color: #ff6b09;
}
@media screen and (min-width: 768px) {
  .reviews__name {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1360px) {
  .reviews__name {
    font-size: 30px;
    margin-bottom: 10px;
  }
}

.reviews__vk-link {
  margin-bottom: 27px;
  margin-top: 27px;
}

.reviews__description {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  color: #b9b9b9;
}
@media screen and (min-width: 768px) {
  .reviews__description {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1360px) {
  .reviews__description {
    font-size: 14px;
  }
}

.reviews__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #3d3d3d;
}
@media screen and (min-width: 1360px) {
  .reviews__text {
    font-size: 18px;
    line-height: 1.56;
  }
}

.reviews__learn-more {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-align: center;
  color: #ff6b09;
  text-decoration: underline;
}
@media screen and (min-width: 1360px) {
  .reviews__learn-more {
    font-size: 18px;
    line-height: 1.56;
  }
}

.reviews__slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.reviews__list {
  display: flex;
  margin-left: 24px;
  margin-right: 24px;
}

.reviews__item:not(:last-child) {
  margin-right: 10px;
}
.reviews__item .reviews__foto--secondary {
  width: 54px;
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  .reviews__item:nth-child(n+3) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .reviews__item:nth-child(n+4) {
    display: none;
  }
}

.button__slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
}
@media screen and (min-width: 768px) {
  .button__slider {
    position: absolute;
  }
}

.button__slider--left {
  top: -200px;
  left: -20px;
}
@media screen and (min-width: 1360px) {
  .button__slider--left {
    top: -275px;
    left: -5px;
  }
}

.button__slider--right {
  top: -200px;
  right: -20px;
}
@media screen and (min-width: 1360px) {
  .button__slider--right {
    top: -275px;
    right: -5px;
  }
}

.section__registration {
  background-color: #111518;
  background-image: url(../../images/registration-bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}
@media screen and (min-width: 768px) {
  .section__registration {
    background-image: url(../../images/registration-bg-tablet.png);
  }
}

.registration {
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .registration {
    padding: 50px 20px 71px 20px;
  }
}
@media screen and (min-width: 1360px) {
  .registration {
    padding: 100px 23px 62px 23px;
  }
}

.registration__title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .registration__title {
    font-size: 26px;
    line-height: 1.3;
  }
}
@media screen and (min-width: 768px) {
  .registration__title {
    font-size: 46px;
    line-height: 1.3;
    max-width: 1090px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
}

.registration__text {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .registration__text {
    font-size: 14px;
    max-width: 452px;
  }
}
@media screen and (min-width: 1360px) {
  .registration__text {
    font-size: 30px;
    max-width: 1090px;
    margin-bottom: 56px;
  }
}

.registration__form {
  display: flex;
  flex-direction: column;
}

.registration__input {
  padding: 15px 0 15px 30px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  color: #ffffff;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .registration__input {
    max-width: 390px;
  }
}
@media screen and (min-width: 1360px) {
  .registration__input {
    max-width: 478px;
    padding: 23px 0 23px 40px;
    font-size: 20px;
  }
}

.input__name {
  margin-bottom: 20px;
}
@media screen and (min-width: 1360px) {
  .input__name {
    margin-bottom: 30px;
  }
}

.input__tel {
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .input__tel {
    margin-bottom: 31px;
  }
}
@media screen and (min-width: 1360px) {
  .input__tel {
    margin-bottom: 80px;
  }
}

.section__footer {
  background-color: #ffffff;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px 21px 20px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 40px 20px;
    flex-direction: row;
  }
}
@media screen and (min-width: 1360px) {
  .footer {
    padding: 52px 23px 52px 103px;
  }
}

.phone-number {
  position: relative;
  font-style: normal;
  margin-top: 21px;
  margin-bottom: 31px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.08em;
}
.phone-number::before {
  content: "";
  position: absolute;
  left: -30px;
  background-image: url(../../images/phone.svg);
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  text-align: center;
}
@media screen and (min-width: 767px) {
  .phone-number::before {
    left: -35px;
    width: 24px;
    height: 24px;
  }
}
@media screen and (min-width: 1360px) {
  .phone-number::before {
    top: 15px;
    left: -45px;
    width: 30px;
    height: 29px;
  }
}

@media screen and (min-width: 767px) {
  .phone-number {
    margin-left: 237px;
    font-size: 20px;
    padding: 10px 24px 10px 0;
    border-right: 1px solid #b9b9b9;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1360px) {
  .phone-number {
    margin-left: 290px;
    font-size: 30px;
  }
}

.instagramm-icon {
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 767px) {
  .instagramm-icon {
    margin-left: 24px;
  }
}

.section__copyright {
  background-color: #111518;
}

.footer__copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  color: #b9b9b9;
}

.copyright {
  padding: 21px 51px;
  text-align: center;
}
@media screen and (min-width: 767px) {
  .copyright {
    text-align: left;
  }
}
@media screen and (min-width: 1360px) {
  .copyright {
    padding: 21px 0 21px 103px;
  }
}/*# sourceMappingURL=main.css.map */