$bcg-primary-color: #fcfcfc;
$bcg-secondary-color: #111518;
$bcg-white-color: #ffffff;
$bcg-guarantee-color: #e5e5e5;
$bcg-mobile-menu-color: rgba(17, 21, 24, 0.9);
$guarntee-text-color: #3d3d3d;
$primary-text-color: #111518;
$secondary-text-color: #b9b9b9;
$accent-color: #ff6b09;
